* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Lufga-medium;
  src: url("./font/Fontspring-DEMO-lufga-medium.otf");
}
@font-face {
  font-family: Lufga-bold;
  src: url("./font/Fontspring-DEMO-lufga-bold.otf");
}
@font-face {
  font-family: Lufga-regular;
  src: url("./font/Fontspring-DEMO-lufga-regular.otf");
}
body {
  background-color: #08071a;
  color: white;
  font-family: Lufga-medium;
}
.about-para {
  font-family: Lufga-regular;
}
.footer-button {
  background-image: linear-gradient(to right, #5bc5d6, #6077ec, #a851f1);
  padding: 13px 40px;
  color: white;
  border: transparent;
  font-family: Lufga-regular;
  font-size: 15px;
  clip-path: polygon(10% 0%, 100% 0, 100% 70%, 90% 100%, 0 100%, 0% 30%);
  border-radius: 4px;
}
